{% extends 'base.html' %}

{% block title %}
Главная станица
{% endblock %}

{% block content %}
<div class="content">

    <h1>Задачник для подготовки к экзаменам за 9 класс по математике</h1>
    <p>Наш проект – это открытая платформа для создания и решения задач по различным учебным предметам. Здесь каждый может не только решать задачи для подготовки к экзаменам, но и добавлять свои, помогая другим пользователям.</p>


<section class="cta">
    <h2>Начните подготовку прямо сейчас</h2>
    <p>Присоединяйтесь к тысячам пользователей, уже активно использующих наш задачник для подготовки к экзаменам. Создавайте свои задачи или решайте задачи других пользователей.</p>
    <a href="{{ url_for('create') }}" class="cta-button">Создать задачу</a>
    <a href="{{ url_for('posts') }}" class="cta-button">Найти задачи</a>
</section>

<section class="features">
    <h2>Основные возможности платформы</h2>
    <ul>
        <li>Добавляйте задачи: по любым предметам: от математики и физики до истории и языков.</li>
        <li>Ищите задачи: по ключевым темам, предметам и уровню сложности.</li>
        <li>Оценивайте задачи: и оставляйте комментарии, помогая улучшить качество контента.</li>
        <li>Создайте личный кабинет: для отслеживания решённых задач и своего прогресса.</li>
        <li>Общайтесь с сообществом: задавайте вопросы и обсуждайте решения задач с другими пользователями.</li>
    </ul>
</section>

<section class="statistics">
    <h2>Немного статистики</h2>
    <p>На данный момент на нашей платформе:</p>

    <ul>
        <li>
    <strong>{{ tasks_count }}</strong>
    {% if tasks_count == 1 %}
        задача
    {% elif tasks_count == 4 %}
        задачи
    {% else %}
        добавленных задач
    {% endif %}
    </li>

    <li>
        <strong>{{ users_count }}</strong>
        {% if users_count == 1 %}
            пользователь
        {% elif users_count == 4 %}
            зарегистрированных пользователя
        {% else %}
            зарегистрированных пользователей
        {% endif %}
    </li>

    <li>
        <strong>{{ threads_count }}</strong>
        {% if threads_count == 1 %}
            тема для обсуждения
        {% elif threads_count == 4 %}
            созданные темы для обсуждения
        {% else %}
            созданных тем для обсуждения
        {% endif %}
    </li>

    <li>
        <strong>{{ tests_count }}</strong>
        {% if tests_count == 1 %}
            тест
        {% elif tests_count == 4 %}
            созданных теста
        {% else %}
            созданных тестов
        {% endif %}
    </li>

    </ul>
    <p>И мы продолжаем расти благодаря вашему участию!</p>
</section>


<section class="benefits">
    <h2>Преимущества нашего задачника</h2>
    <p>Мы стремимся сделать процесс обучения интересным и интерактивным. Вот несколько причин, почему наш сайт полезен для всех учащихся:</p>
    <ul>
        <li>Доступ к большому количеству задач по разным предметам, созданным пользователями.</li>
        <li>Задачи разделены на разные уровни сложности, что помогает постепенно усложнять подготовку.</li>
        <li>Возможность решать задачи в любое время и с любого устройства — удобство всегда с вами.</li>
        <li>Сайт постоянно развивается и обновляется новыми задачами от активных участников сообщества.</li>
    </ul>
</section>


</div>


{% if not accepted_cookies %}
    <div id="cookie-banner" style="position: fixed; bottom: 0; width: 100%; background: #333; color: white; padding: 10px; text-align: center;">
        Этот сайт использует cookies.
        <button onclick="acceptCookies()">Принять</button>
    </div>
{% endif %}
{% endblock %}



